[Unit]
Description=Activate permissive mode for SELinux

Wants=network-online.target
Before=boot-complete.target


[Service]
Type=oneshot
StandardOutput=journal
ExecStart=setenforce permissive
RemainAfterExit=yes
ExecStop=setenforce enforcing


[Install]
RequiredBy=boot-complete.target
